
<div class="question_container">
      <h2><%= @question.title %></h2>
      <p>From: <%= @question.name %> / Subject: <%= @question.subject %></p>
      <div class="question-show-container">
        <p><%= @question.content %></p>
        </div>

        <div class="question-menus">
            <%= link_to questions_editing_path(@question.id) do %>
            <div class="edit-button q-button">Edit</div>
            <% end %>
            <%= link_to question_delete_path(@question.id), data: {confirm: "Delete this question?"} do %>
            <div class="delete-button q-button">Delete</div>
            <% end %>
        </div>
    
        
        

</div>