
<div class="question_container">
      <h2><%= @question.title %></h2>
      <p>From: <%= @question.name %> / Subject: <%= @question.subject %></p>
      <div class="question-show-container">
        <p><%= @question.content %></p>
        </div>

        <%= link_to question_show_path(question.id) do %>
        <div class="question-menus">
            <%= link_to questions_editing_path(question.id) do %>
            <div class="edit-button">Edit</div>
            <% end %>
            <%= link_to questions_editing_path(question.id) do %>
            <div class="delete-button">Delete</div>
            <% end %>
        </div>
        
        <% end %>

</div>